*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

body {
  background: url(./utils/pexels-janko-ferlic-590493.jpg) no-repeat center center fixed; 
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
